<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-Preparing-our-dataset" data-toc-modified-id="1.-Preparing-our-dataset-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>1. Preparing our dataset</a></span></li><li><span><a href="#2.-EDA" data-toc-modified-id="2.-EDA-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>2. EDA</a></span></li><li><span><a href="#2.-Encoding" data-toc-modified-id="2.-Encoding-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>2. Encoding</a></span></li><li><span><a href="#3.-Splitting-our-data" data-toc-modified-id="3.-Splitting-our-data-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>3. Splitting our data</a></span></li><li><span><a href="#6.-Train-a-decision-tree-to-classify-genre" data-toc-modified-id="6.-Train-a-decision-tree-to-classify-genre-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>6. Train a decision tree to classify genre</a></span></li><li><span><a href="#7.-Compare-our-decision-tree-to-a-KNN-classifier" data-toc-modified-id="7.-Compare-our-decision-tree-to-a-KNN-classifier-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>7. Compare our decision tree to a KNN classifier</a></span></li><li><span><a href="#10.-Views" data-toc-modified-id="10.-Views-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>10. Views</a></span></li></ul></div>

**Obiettivo:** Senza ascoltare alcuna canzone, classificare il tipo di musica di ogni traccia, a partire dal csv e dal file json contenente le metriche della canzone.

### 1. Preparing our dataset

In [1]:
import pandas as pd
import numpy as np
import json as js

In [2]:
data  = pd.read_csv('dataset.csv')
data.info()

data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17734 entries, 0 to 17733
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   track_id       17734 non-null  int64
 1   bit_rate       17734 non-null  int64
 2   comments       17734 non-null  int64
 3   composer       166 non-null    object
 4   date_created   17734 non-null  object
 5   date_recorded  1898 non-null   object
 6   duration       17734 non-null  int64
 7   favorites      17734 non-null  int64
 8   genre_top      17734 non-null  object
 9   genres         17734 non-null  object
 10  genres_all     17734 non-null  object
 11  information    482 non-null    object
 12  interest       17734 non-null  int64
 13  language_code  4089 non-null   object
 14  license        17714 non-null  object
 15  listens        17734 non-null  int64
 16  lyricist       53 non-null     object
 17  number         17734 non-null  int64
 18  publisher      52 non-null     object
 19  tags           17734 non-null  object
 20  title          17734 non-null  object
dtypes: int64(8), object(13)
memory usage: 2.8+ MB

,track_id,bit_rate,comments,composer,date_created,date_recorded,duration,favorites,genre_top,genres,...,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
0,135,256000,1,NaN,2008-11-26 01:43:26,2008-11-26 00:00:00,837,0,Rock,"[45, 58]",...,NaN,2484,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1832,NaN,0,NaN,[],Father's Day
1,136,256000,1,NaN,2008-11-26 01:43:35,2008-11-26 00:00:00,509,0,Rock,"[45, 58]",...,NaN,1948,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1498,NaN,0,NaN,[],Peel Back The Mountain Sky
2,151,192000,0,NaN,2008-11-26 01:44:55,NaN,192,0,Rock,[25],...,NaN,701,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,148,NaN,4,NaN,[],Untitled 04
3,152,192000,0,NaN,2008-11-26 01:44:58,NaN,193,0,Rock,[25],...,NaN,637,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,98,NaN,11,NaN,[],Untitled 11
4,153,256000,0,Arc and Sender,2008-11-26 01:45:00,2008-11-26 00:00:00,405,5,Rock,[26],...,NaN,354,en,Attribution-NonCommercial-NoDerivatives (aka M...,424,NaN,2,NaN,[],Hundred-Year Flood
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17729,155063,320000,0,NaN,2017-03-24 19:40:43,NaN,283,3,Hip-Hop,"[21, 811]",...,NaN,1283,NaN,Attribution,1050,NaN,4,NaN,"['old school beats', '2017 free instrumentals'...",Been On
17730,155064,320000,0,NaN,2017-03-24 19:40:44,NaN,250,2,Hip-Hop,"[21, 811]",...,NaN,1077,NaN,Attribution,858,NaN,2,NaN,"['old school beats', '2017 free instrumentals'...",Send Me
17731,155065,320000,0,NaN,2017-03-24 19:40:45,NaN,219,3,Hip-Hop,"[21, 811]",...,NaN,1340,NaN,Attribution,1142,NaN,1,NaN,"['old school beats', '2017 free instrumentals'...",The Question
17732,155066,320000,0,NaN,2017-03-24 19:40:47,NaN,252,6,Hip-Hop,"[21, 811]",...,NaN,2065,NaN,Attribution,1474,NaN,3,NaN,"['old school beats', '2017 free instrumentals'...",Roy
17733,155247,320000,0,Fleslit,2017-03-29 01:40:28,NaN,211,3,Hip-Hop,"[21, 539, 811]",...,NaN,1379,NaN,Attribution,1025,NaN,0,Fleslit,"['instrumental trap beat', 'love', 'instrument...",Love In The Sky

In [3]:
data_clean = data.drop(['comments', 'composer', 'date_created', 'date_recorded', 'favorites',
       'genres', 'genres_all', 'information', 'interest',
       'license', 'lyricist', 'tags',
       'publisher', 'title','language_code'],axis=1)
data_clean

       track_id  bit_rate  duration genre_top  listens  number
0           135    256000       837      Rock     1832       0
1           136    256000       509      Rock     1498       0
2           151    192000       192      Rock      148       4
3           152    192000       193      Rock       98      11
4           153    256000       405      Rock      424       2
...         ...       ...       ...       ...      ...     ...
17729    155063    320000       283   Hip-Hop     1050       4
17730    155064    320000       250   Hip-Hop      858       2
17731    155065    320000       219   Hip-Hop     1142       1
17732    155066    320000       252   Hip-Hop     1474       3
17733    155247    320000       211   Hip-Hop     1025       0

[17734 rows x 6 columns]

In [4]:
file_json = open("metrics.json")
file_json
data_js = pd.read_json("metrics.json")
data_js

,track_id,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence
0,2,0.416675,0.675894,0.634476,0.010628,0.177647,0.159310,165.922,0.576661
1,3,0.374408,0.528643,0.817461,0.001851,0.105880,0.461818,126.957,0.269240
2,5,0.043567,0.745566,0.701470,0.000697,0.373143,0.124595,100.260,0.621661
3,10,0.951670,0.658179,0.924525,0.965427,0.115474,0.032985,111.562,0.963590
4,134,0.452217,0.513238,0.560410,0.019443,0.096567,0.525519,114.290,0.894072
...,...,...,...,...,...,...,...,...,...
13124,124857,0.007592,0.790364,0.719288,0.853114,0.720715,0.082550,141.332,0.890461
13125,124862,0.041498,0.843077,0.536496,0.865151,0.547949,0.074001,101.975,0.476845
13126,124863,0.000124,0.609686,0.895136,0.846624,0.632903,0.051517,129.996,0.496667
13127,124864,0.327576,0.574426,0.548327,0.452867,0.075928,0.033388,142.009,0.569274
13128,124911,0.993606,0.499339,0.050622,0.945677,0.095965,0.065189,119.965,0.204652

In [6]:
data_clean.genre_top.value_counts()

Rock       14182
Hip-Hop     3552
Name: genre_top, dtype: int64

### 2. EDA

In [ ]:
data_2=data[['track_id','duration','genre_top','genres','genres_all']]
data_2

In [7]:
data_merge=pd.merge(left=data_clean, right=data_js, on='track_id')
data_merge

,track_id,bit_rate,duration,genre_top,listens,number,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence
0,153,256000,405,Rock,424,2,0.988306,0.255661,0.979774,9.730057e-01,0.121342,0.051740,90.241,0.034018
1,154,256000,319,Rock,205,4,0.970135,0.352946,0.023852,9.571129e-01,0.113261,0.032177,53.758,0.035632
2,155,192000,756,Rock,197,0,0.981657,0.142249,0.912122,9.672940e-01,0.363510,0.087527,91.912,0.034325
3,169,192000,144,Rock,270,1,0.989141,0.225978,0.722835,2.630763e-01,0.092371,0.053406,94.322,0.028347
4,170,192000,181,Rock,122,2,0.886660,0.298518,0.744333,9.209505e-01,0.139587,0.088781,97.880,0.073548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4797,124718,224206,202,Hip-Hop,254,12,0.412194,0.686825,0.849309,6.000000e-10,0.867543,0.367315,96.104,0.692414
4798,124719,217951,201,Hip-Hop,175,13,0.054973,0.617535,0.728567,7.215700e-06,0.131438,0.243130,96.262,0.399720
4799,124720,199442,181,Hip-Hop,163,14,0.010478,0.652483,0.657498,7.098000e-07,0.701523,0.229174,94.885,0.432240
4800,124721,235940,140,Hip-Hop,287,15,0.067906,0.432421,0.764508,1.625500e-06,0.104412,0.310553,171.329,0.580087
4801,124722,192418,169,Hip-Hop,497,16,0.153518,0.638660,0.762567,5.000000e-10,0.264847,0.303372,77.842,0.656612

In [8]:
data_merge.genre_top.value_counts()

Rock       3892
Hip-Hop     910
Name: genre_top, dtype: int64

### 2. Encoding

In [9]:
#categorical = ['language_code']
numerical = ['bit_rate','duration','listens','number','acousticness','danceability','energy','instrumentalness','liveness','speechiness']

In [10]:
#encoding
label='genre_top'

from sklearn.preprocessing import StandardScaler, OneHotEncoder

# labels
y = data[label].values

y = OneHotEncoder(sparse=False, drop='if_binary').fit_transform(y.reshape(-1, 1)).squeeze()

# oppure con pandas
# y = pd.get_dummies(y, drop_first=True).values.squeeze()

y

array([1., 1., 1., ..., 0., 0., 0.])

### 3. Splitting our data

### 6. Train a decision tree to classify genre

### 7. Compare our decision tree to a KNN classifier

### 10. Views